.user-list {
    margin-bottom: 40px;
    margin: 20px;
    padding-top: 30px;
}

.user-table{
    min-width: 65vw;
}

.app.dark-mode .user-list p {
    background-color: #282828;
    color: #ffffffeb;
}

.user-table-format {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca67;
    font-size: 13px;
    margin-top: 7px;

}

.app.dark-mode .user-table-format {
    background-color: #282828;
    color: #ffffffeb;
}

.app.dark-mode .user-table-format.title {
    background-color: #1a1a1aa8;
    color: #ffffffeb;
}

.user-table-format.title {
    background-color: #f5f5f5;
}

.cursor {
    cursor: pointer;
}

.clients-pfp{
    width: 50px;
    border-radius: 50%;
}

.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

.app.dark-mode .confirmation-dialog{
    background-color: #282828;
    color: #ffffffeb;
}

.confirmation-dialog .confirmation-p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.confirm-btn, .cancel-btn {
    padding: 10px 20px;
    margin: 3px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn {
    background-color: red;
    color: white;
}

.cancel-btn {
    background-color: #d6d5d5;
    color: black;
}



@media(max-width:768px) {
    .user-table-format {
        grid-template-columns: 1fr 1fr 2fr;
        gap: 15px;
    }
    .user-table-format.title {
        display: none;
    }
    .cursor {
        cursor: pointer;
        padding-left: 6px;
    }
    .clients-pfp{
        width: 50px;
    }
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f500;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
}

.app.dark-mode .search-bar {
    border: 1px solid #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #f5f5f5;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-bar {
    padding-left: 2.5rem;
}

.search-icon {
    position: absolute;
    left: 0.8rem;
    top: 35%;
    transform: translateY(-50%);
    color: #888; /* Adjust color as needed */
}